@{
    Layout = "_Layout";
}

@model MyViewModel;

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>UFOPay.io - Profile</title>
    <link rel="stylesheet" href="/css/indexstyle.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
</head>

<body>
    <div class="profile__side">
        <p>
            @* <span class="success__msg" id="success">Success</span> *@
            @if (TempData["TransferSuccessMessage"] != null)
            {
                <span>@TempData["TransferSuccessMessage"]</span>
            }
            @if (TempData["TransferErrorMessage"] != null)
            {
                <span>@TempData["TransferErrorMessage"]</span>
            }
            @if (TempData["SettingsSuccessMessage"] != null)
            {
                <span>@TempData["SettingsSuccessMessage"]</span>
            }
        </p>
        <div class="profile__container">
            <div class="profile__info">
                <div class="balance__info">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <div class="info">
                            <p class="actual__balance__text">Balance</p>
                            <p class="balance"><span style="color: #e20000;">@user.balance</span> PLN</p>
                            <p class="access">AVAILABLE</p>
                        </div>
                        <div class="select__buttons">
                            <div class="select__container">
                                <a class="select__btw" style="cursor: pointer;" id="mydata_btw">MY DATA</a>
                                <a class="select__btw" style="cursor: pointer;" id="settings_btw">SETTINGS</a>
                                <a class="select__btw" style="cursor: pointer;" id="history_btw">HISTORY</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="links">
                    <a class="transfer__link" style="cursor: pointer;">Add</a>
                    <a class="transfer__link" style="cursor: pointer;" id="transfer_btw">Transfer</a>
                </div>
            </div>
            <div class="cards">
                <div class="cards__container">
                    <p class="binded__cards">LINKED CARDS</p>
                </div>
                <div class="add__card__container">
                    <a class="add__change__card">ADD / CHANGE</a>
                </div>
            </div>

            <div class="form__data__content__mydata hidden" id="myData">
                <h4 class="form__data__name">My data</h4>
                <div class="form__container">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <form class="user__data__form" action="#" method="post">
                            <span>Who?</span>
                            <p class="form__data__input"><input type="text" id="FIO"
                                    value="@user.firstName @user.secondName" disabled="true"></p>
                            <span>Bithday</span>
                            <p class="form__data__input"><input type="date" id="bithData" value="@user.birthday"
                                    disabled="true"></p>
                            <span>Passport</span>
                            <p class="form__data__input"><input type="text" id="passport" value="@user.passport" disabled>
                            </p>
                        </form>
                        <form class="user__data__form" action="#" method="post">
                            <span>Status</span>
                            <p class="form__data__input"><input type="text" disabled="true" id="profileStatus"
                                    value="Verifed (wt base)"></p>
                            <span>Registration data</span>
                            <p class="form__data__input"><input type="text" disabled="true" id="registerData"
                                    value="@user.registrationData"></p>
                            <p class="form__data__input"><a class="status__info__link">More info</a></p>
                        </form>
                    }
                </div>
            </div> <!-- mydata content -->

            <div class="form__data__content__settings hidden" id="settings">
                <h4 class="form__data__name">Settings</h4>
                <div class="form__container">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <form class="user__data__settings__form" asp-controller="Profile" asp-action="dataChange"
                            method="post">
                            <div class="firstLine">
                                <span>First name</span>
                                <p class="form__data__input"><input type="text" asp-for="@Model.UserData.firstName"
                                        data-val-required="The firstName field is required."></p>
                                <span>Second name</span>
                                <p class="form__data__input"><input type="text" asp-for="@Model.UserData.secondName"
                                        data-val-required="The secondName field is required.">
                                </p>
                                <span>Password</span>
                                <p class="form__data__input"><input type="text" asp-for="@Model.UserData.password"
                                        data-val="true" data-val-required="The password field is required."></p>
                                <button class="transfer__link button" style="cursor: pointer;" type="submit">Change</button>
                            </div>
                            <div class="secondLine">
                                <span>Number</span>
                                <p class="form__data__input"><input type="number" id="number" value="88005553535" disabled>
                                </p>
                                <span>E-mail</span>
                                <p class="form__data__input"><input type="email" value="@user.email" disabled></p>
                            </div>
                        </form>
                    }
                </div>
            </div> <!-- content settings -->

            <div class="form__data__content__history" id="history">
                <h4 class="form__data__name">History</h4>
                <div class="form__container">
                    <div class="transactions__container">
                        <div class="transactions__title__container">
                            <span class="transaction__title">From</span>
                            <span class="transaction__title">To</span>
                            <span class="transaction__title">Summa</span>
                            <span class="transaction__title">Comment</span>
                        </div>
                        <div class="transactions__scroll__content">
                            @using (UFODbContext db = new UFODbContext())
                            {
                                var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                                foreach (var targetUser in db.Transactions.ToList())
                                {
                                    if (targetUser.sender == user.email || targetUser.reciever == user.email)
                                    {
                                        // change the name of classes
                                        <div class="transactions__info__container">
                                            <span class="history__parameter__sender">@targetUser.sender</span>
                                            <span class="history__parameter__receiver">@targetUser.reciever</span>
                                            <span class="history__parameter__summa">@targetUser.summa</span>
                                            <span class="history__parameter__comment">@targetUser.comment</span>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div> <!-- content history -->

            <div class="form__data__content__transfer hidden" id="transfer">
                <h4 class="form__data__name">Transfer/Withraw</h4>
                <div class="form__container">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <form class="user__data__transfer__form" asp-controller="Profile" asp-action="transfer"
                            method="post">
                            <span>Where?</span>
                            @* <input type="hidden" value="@user.email" asp-for="@Model.TransferModel.sender" disabled> *@
                            <p class="form__data__input"><input type="text" placeholder="email@email.pl"
                                    asp-for="@Model.TransferModel.reciever">
                            </p>
                            <span>Summa</span>
                            <p class="form__data__input"><input type="number" value="100"
                                    asp-for="@Model.TransferModel.summa">
                            </p>
                            <span>Comment</span>
                            <p class="form__data__input"><input type="text" value="hi man"
                                    asp-for="@Model.TransferModel.comment">
                            </p>
                            <button type="submit" class="transfer__link button" style="cursor: pointer;">Send</button>
                        </form>
                    }
                </div>
            </div> <!-- transfer/withraw -->

            <script>

                @* ALERT *@

                    // will in next update

                @* BUTTONS *@
                const transfer_button = document.getElementById('transfer_btw');

                const mydata_button = document.getElementById('mydata_btw');
                const settings_button = document.getElementById('settings_btw');
                const history_button = document.getElementById('history_btw');

                @* CONTENT FOR BUTTONS *@
                const myDataContent = document.getElementById('myData');
                const mySettingsContent = document.getElementById('settings');
                const myHistoryContent = document.getElementById('history');

                const myTransferContent = document.getElementById('transfer');

                transfer_button.addEventListener('click', e => {
                    myDataContent.classList.add('hidden');
                    mySettingsContent.classList.add('hidden');
                    myHistoryContent.classList.add('hidden');

                    myTransferContent.classList.remove('hidden');
                });

                mydata_button.addEventListener('click', e => {
                    mySettingsContent.classList.add('hidden');
                    myTransferContent.classList.add('hidden');
                    myHistoryContent.classList.add('hidden');

                    myDataContent.classList.remove('hidden');
                });

                settings_button.addEventListener('click', e => {
                    myDataContent.classList.add('hidden');
                    myTransferContent.classList.add('hidden');
                    myHistoryContent.classList.add('hidden');

                    mySettingsContent.classList.remove('hidden');
                });

                history_button.addEventListener('click', e => {
                    myDataContent.classList.add('hidden');
                    myTransferContent.classList.add('hidden')
                    mySettingsContent.classList.add('hidden');

                    myHistoryContent.classList.remove('hidden');
                })

            </script>
        </div> <!-- profile container -->
    </div> <!-- profile side -->
</body>

</html>