@{
    Layout = "_Layout";
}

@model MyViewModel;

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>UFOPay.io - Profile</title>
    <link rel="stylesheet" href="/css/indexstyle.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
</head>

<body>
    <div class="profile__side">
        <p>
            @if (TempData["TransferSuccessMessage"] != null)
            {
            <p id="success__msg">@TempData["TransferSuccessMessage"]</p>
            }
            @if (TempData["TransferErrorMessage"] != null)
            {
            <p id="error__msg">@TempData["TransferErrorMessage"]</p>
            }
            @if (TempData["SettingsSuccessMessage"] != null)
            {
            <p id="success__msg">@TempData["SettingsSuccessMessage"]</p>
            }
            <!-- for the addBalance content -->
            @if (TempData["BillErrorMessage"] != null)
            {
            <p id="error__msg">@TempData["BillErrorMessage"]</p>
            }
            <!-- fot the billing page -->
            @if (TempData["BillSuccess"] != null)
            {
                <p id="success__msg">@TempData["BillSuccess"]</p>
            }
        </p>
        <div class="profile__container">
            <div class="profile__info">
                <div class="balance__info">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        Currency currency = new Currency();
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <div class="info">
                            <p class="actual__balance__text">Balance</p>
                            <select class="text__input__balance" aria-label="Default select example">
                                <option selected value="USD"><p class="balance"><span class="currency__usd" >@user.balance_usd</span> @currency.USD</p></option>
                                <option value="EUR"><p class="balance"><span>@user.balance_eur</span> @currency.EUR</p></option>
                                <option value="PLN"><p class="balance"><span>@user.balance_pln</span> @currency.PLN</p></option>
                                <option value="RUB"><p class="balance"><span>@user.balance_rub</span> @currency.RUB</p></option>
                            </select>
                            <p class="access">AVAILABLE</p>                            
                        </div>
                        <label class="converter__container">
                            <a style="cursor: pointer;" class="converter__link" id="convert_btw"><img src="/images/balance/converter.svg" class="converter__image"></a>
                        </label>
                        <div class="select__buttons">
                            <div class="select__container">
                                <a class="select__btw" style="cursor: pointer;" id="mydata_btw">MY DATA</a>
                                <a class="select__btw" style="cursor: pointer;" id="settings_btw">SETTINGS</a>
                                <a class="select__btw" style="cursor: pointer;" id="history_btw">HISTORY</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="links">
                    <a class="transfer__link" style="cursor: pointer;" id="addBalance_btw">Add</a>
                    <a class="transfer__link" style="cursor: pointer;" id="transfer_btw">Transfer</a>
                </div>
            </div>
            <div class="cards">
                <div class="cards__container">
                    <p class="binded__cards">LINKED CARDS</p>
                </div>
                <div class="add__card__container">
                    <a class="add__change__card">ADD / CHANGE</a>
                </div>
            </div>

            <div class="form__data__content__mydata hidden" id="myData">
                <h4 class="form__data__name">My data</h4>
                <div class="form__container">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <form class="user__data__form" action="#" method="post">
                            <span>Who?</span>
                            <p class="form__data__input"><input type="text" class="text__input" id="FIO"
                                    value="@user.firstName @user.secondName" disabled="true"></p>
                            <span>Bithday</span>
                            <p class="form__data__input"><input type="date" class="text__input" id="bithData" value="@user.birthday"
                                    disabled="true"></p>
                            <span>Passport</span>
                            <p class="form__data__input"><input type="text" class="text__input" id="passport" value="@user.passport" disabled>
                            </p>
                        </form>
                        <form class="user__data__form" action="#" method="post">
                            <span>Status</span>
                            <p class="form__data__input"><input type="text" disabled="true" class="text__input" id="profileStatus"
                                    value="Verifed (wt base)"></p>
                            <span>Registration date</span>
                            <p class="form__data__input"><input type="text" disabled="true" class="text__input" id="registerData"
                                    value="@user.registrationData"></p>
                            <p class="form__data__input"><a class="status__info__link">More info</a></p>
                        </form>
                    }
                </div>
            </div> <!-- mydata content -->

            <div class="form__data__content__settings hidden" id="settings">
                <h4 class="form__data__name">Settings</h4>
                <div class="form__container">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <form class="user__data__settings__form" asp-controller="Profile" asp-action="dataChange"
                            method="post">
                            <div class="firstLine">
                                <span>First name</span>
                                <p class="form__data__input"><input type="text" class="text__input" asp-for="@Model.UserData.firstName"
                                        data-val-required="The firstName field is required."></p>
                                <span>Second name</span>
                                <p class="form__data__input"><input type="text" class="text__input" asp-for="@Model.UserData.secondName"
                                        data-val-required="The secondName field is required.">
                                </p>
                                <span>Password</span>
                                <p class="form__data__input"><input type="password" class="text__input" asp-for="@Model.UserData.password"
                                        data-val="true" data-val-required="The password field is required."></p>
                                <button class="transfer__link button" style="cursor: pointer;" type="submit">Change</button>
                            </div>
                            <div class="secondLine">
                                <span>Number</span>
                                <p class="form__data__input"><input type="number" class="text__input" id="number" value="88005553535" disabled>
                                </p>
                                <span>E-mail</span>
                                <p class="form__data__input"><input type="email" class="text__input" value="@user.email" disabled></p>
                                <span>Birthday</span>
                                <p class="form__data__input"><input type="date" class="text__input" asp-for="@Model.UserData.birthday"></p>
                            </div>
                        </form>
                    }
                </div>
            </div> <!-- content settings -->

            <div class="form__data__content__history" id="history">
                <h4 class="form__data__name">History</h4>
                <div class="form__container">
                    <div class="transactions__container">
                        <div class="transactions__title__container">
                            <span class="transaction__title">Data</span>
                            <span class="transaction__title">To</span>
                            <span class="transaction__title">Summa</span>
                            <span class="transaction__title">Comment</span>
                        </div>
                        <div class="transactions__scroll__content">
                            @using (UFODbContext db = new UFODbContext())
                            {
                                var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                                @foreach (var targetUser in db.Transactions.ToList())
                                {
                                    if (targetUser.sender == user.email || targetUser.reciever == user.email)
                                    {
                                        <div class="transactions__info__container">
                                            <div class="transactions__table__container">
                                                <div class="transactions__info__title">
                                                    <span class="history__parameter__data">@targetUser.transferData</span>
                                                </div>
                                            </div>
                                            <div class="transactions__table__container">
                                                <div class="transactions__info__title">
                                                    <span class="history__parameter__receiver">@targetUser.reciever</span>
                                                </div>
                                            </div>
                                            <div class="transactions__table__container">
                                                <div class="transactions__info__title">
                                                    <span class="history__parameter__summa">@targetUser.summa @targetUser.currency</span>
                                                </div>
                                            </div>
                                            <div class="transactions__table__container">
                                                <div class="transactions__info__title">
                                                    <span class="history__parameter__comment">@targetUser.comment</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div> <!-- content history -->

            <div class="form__data__content__transfer hidden" id="transfer">
                <h4 class="form__data__name">Transfer/Withdraw</h4>
                <div class="form__container">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <form class="user__data__transfer__form" asp-controller="Profile" asp-action="transfer"
                            method="post">
                            <span>Where?</span>
                            <p class="form__data__input"><input type="text" class="text__input" placeholder="email@email.com"
                                    asp-for="@Model.TransferModel.reciever">
                            </p>
                            <span>Summa</span>
                            <p class="form__data__input"><input type="number" class="text__input" asp-for="@Model.TransferModel.summa">
                            </p>
                            <span>Currency</span>
                            <p class="form__data__input">
                                <select class="text__input__currency" asp-for="@Model.TransferModel.currency">
                                        <option value="">select the currency</option>
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="PLN">PLN</option>
                                        <option value="RUB">RUB</option>
                                    </select>
                            </p>
                            <span>Comment</span>
                            <p class="form__data__input"><input type="text" class="text__input" placeholder="none" asp-for="@Model.TransferModel.comment">
                            </p>
                            <button type="submit" class="transfer__link button" style="cursor: pointer;">Send</button>
                            <div class="withdraw__container">
                                <a class="withdraw__button" id="withdraw_btw">Withdraw</a>
                            </div>  
                        </form>                                              
                    }
                </div>
            </div> <!-- transfer/withdraw -->

            <div class="form__data__content__withdraw hidden" id="withdraw">
                <h4 class="form__data__name">Withdraw</h4>
                <div class="form__container">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        <form class="user__data__transfer__form" asp-controller="Profile" asp-action="withdraw"
                            method="post">
                            <span>Bank Number (or card of bank)</span>
                            <p class="form__data__input"><input type="number" class="text__input" asp-for="@Model.WithdrawModel.bank">
                            </p>
                            <span>Currency</span>
                            <p class="form__data__input">
                                <select class="text__input__currency" asp-for="@Model.WithdrawModel.currency">
                                        <option value="">select the currency</option>
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="PLN">PLN</option>
                                        <option value="RUB">RUB</option>
                                    </select>
                            </p>
                            <span>Summa</span>
                            <p class="form__data__input"><input type="number" class="text__input" asp-for="@Model.WithdrawModel.summa">
                            </p>
                            <button type="submit" class="transfer__link button" style="cursor: pointer;">Withdraw</button> 
                        </form>                                              
                    }
                </div>
            </div> <!-- withdraw -->

            <div class="form__data__content__converter hidden" id="convert">
                <h4 class="form__data__name">Convertation</h4>
                <div class="form__container">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <form class="user__data__transfer__form" asp-controller="Profile" asp-action="convertCurrency"
                            method="post">
                            <span>From</span>
                            <input asp-for="@Model.ConvertModel.userId" type="text" value="@user.userId" hidden>
                            <p class="form__data__input">
                                <select class="text__input__currency" asp-for="@Model.ConvertModel.currencyFrom">
                                        <option value="">select the currency</option>
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="PLN">PLN</option>
                                        <option value="RUB">RUB</option>
                                    </select>
                            </p>
                            <span>To</span>
                            <p class="form__data__input">
                                <select class="text__input__currency" asp-for="@Model.ConvertModel.currencyTo">
                                        <option value="">select the currency</option>
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="PLN">PLN</option>
                                        <option value="RUB">RUB</option>
                                    </select>
                            </p>
                            <span>Summa</span>
                            <p class="form__data__input"><input type="text" class="text__input"asp-for="@Model.ConvertModel.summa">
                            </p>
                            <button type="submit" class="transfer__link button" style="cursor: pointer;">Convert</button>
                        </form>
                    }
                </div>
            </div> <!-- converter content -->

            <div class="form__data__content__add__balance hidden" id="addBalance">
                <h4 class="form__data__name">Add balance</h4>
                <div class="form__container">
                    @using (UFODbContext db = new UFODbContext())
                    {
                        var user = db.UserData.FirstOrDefault(x => x.email == User.Identity.Name);
                        <form class="user__data__add__balance__form" asp-controller="Profile" asp-action="addBalance"
                            method="post">
                            <span>Summa</span>
                            <p class="form__data__input"><input type="number" class="text__input" asp-for="@Model.AddBalance.summa"></p>
                            <span>Currency</span>
                            <div class="currency__container">
                                <label class="currency__label">
                                    <input class="select__currency" id="AddBalance_currency" name="AddBalance.currency" type="radio" value="USD">
                                    <img class="currency__symbol" src="./images/balance/dollar_symbol.png" alt="USD">
                                    <div class="subcurrency__container"><span class="subcurrency__title">USD</span></div>
                                </label>
                                <label class="currency__label">
                                    <input class="select__currency" id="AddBalance_currency" name="AddBalance.currency" type="radio" value="EUR">
                                    <img class="currency__symbol" src="./images/balance/euro_symbol.png" alt="EUR">
                                    <div class="subcurrency__container"><span class="subcurrency__title">EUR</span></div>
                                </label>
                                <label class="currency__label">
                                    <input class="select__currency" id="AddBalance_currency" name="AddBalance.currency" type="radio" value="PLN">
                                    <img class="currency__symbol" src="./images/balance/zloty_symbol.svg" alt="PLN">
                                    <div class="subcurrency__container"><span class="subcurrency__title">PLN</span></div>
                                </label>
                                <label class="currency__label">
                                    <input class="select__currency" id="AddBalance_currency" name="AddBalance.currency" type="radio" value="RUB">
                                    <img class="currency__symbol" src="./images/balance/ruble_symbol.png" alt="RUB">
                                    <div class="subcurrency__container"><span class="subcurrency__title">RUB</span></div>
                                </label>                                                                        
                            </div>     
                            <button type="submit" class="transfer__link button" style="cursor: pointer;">Add
                                    balance</button>        
                        </form>
                    }
                </div>
            </div> <!-- add balance -->

            <script>

                @* BUTTONS *@
                const addBalance_button = document.getElementById('addBalance_btw');
                const transfer_button = document.getElementById('transfer_btw');
                const convert_button = document.getElementById('convert_btw');
                const withdraw_button = document.getElementById('withdraw_btw');

                const mydata_button = document.getElementById('mydata_btw');
                const settings_button = document.getElementById('settings_btw');
                const history_button = document.getElementById('history_btw');

                @* CONTENT FOR BUTTONS *@
                const myDataContent = document.getElementById('myData');
                const mySettingsContent = document.getElementById('settings');
                const myHistoryContent = document.getElementById('history');

                const myAddBalanceContent = document.getElementById('addBalance');
                const myTransferContent = document.getElementById('transfer');
                const myConvertContent = document.getElementById('convert');
                const myWithdrawContent = document.getElementById('withdraw');

                addBalance_button.addEventListener('click', e => {
                    myDataContent.classList.add('hidden');
                    mySettingsContent.classList.add('hidden');
                    myHistoryContent.classList.add('hidden');
                    myTransferContent.classList.add('hidden');
                    myConvertContent.classList.add('hidden');
                    myWithdrawContent.classList.add('hidden');

                    myAddBalanceContent.classList.remove('hidden');
                })

                transfer_button.addEventListener('click', e => {
                    myDataContent.classList.add('hidden');
                    mySettingsContent.classList.add('hidden');
                    myHistoryContent.classList.add('hidden');
                    myAddBalanceContent.classList.add('hidden');
                    myConvertContent.classList.add('hidden');
                    myWithdrawContent.classList.add('hidden');

                    myTransferContent.classList.remove('hidden');
                });

                convert_button.addEventListener('click', e => {
                    myDataContent.classList.add('hidden');
                    mySettingsContent.classList.add('hidden');
                    myHistoryContent.classList.add('hidden');
                    myAddBalanceContent.classList.add('hidden');
                    myTransferContent.classList.add('hidden');
                    myWithdrawContent.classList.add('hidden');

                    myConvertContent.classList.remove('hidden');
                });

                withdraw_button.addEventListener('click', e => {
                    myDataContent.classList.add('hidden');
                    mySettingsContent.classList.add('hidden');
                    myHistoryContent.classList.add('hidden');
                    myAddBalanceContent.classList.add('hidden');
                    myTransferContent.classList.add('hidden');
                    myConvertContent.classList.add('hidden');

                    myWithdrawContent.classList.remove('hidden');
                });

                @* LINES CONTENT *@
                mydata_button.addEventListener('click', e => {
                    mySettingsContent.classList.add('hidden');
                    myTransferContent.classList.add('hidden');
                    myHistoryContent.classList.add('hidden');
                    myAddBalanceContent.classList.add('hidden');
                    myConvertContent.classList.add('hidden');
                    myWithdrawContent.classList.add('hidden');

                    myDataContent.classList.remove('hidden');
                });

                settings_button.addEventListener('click', e => {
                    myDataContent.classList.add('hidden');
                    myTransferContent.classList.add('hidden');
                    myHistoryContent.classList.add('hidden');
                    myAddBalanceContent.classList.add('hidden');
                    myConvertContent.classList.add('hidden');
                    myWithdrawContent.classList.add('hidden');

                    mySettingsContent.classList.remove('hidden');
                });

                history_button.addEventListener('click', e => {
                    myDataContent.classList.add('hidden');
                    myTransferContent.classList.add('hidden')
                    mySettingsContent.classList.add('hidden');
                    myAddBalanceContent.classList.add('hidden');
                    myConvertContent.classList.add('hidden');
                    myWithdrawContent.classList.add('hidden');

                    myHistoryContent.classList.remove('hidden');
                })

            </script>
        </div> <!-- profile container -->
    </div> <!-- profile side -->
</body>

</html>