@{
    Layout = "_Layout";
}

@model MyViewModel

<!DOCTYPE html>
<html lang="en_EN">

<head>
    <meta charset="UTF-8">
    <title>UFOPay.io - Login</title>
    <link rel="stylesheet" href="/css/indexstyle.css">
    <link rel="stylesheet" href="/css/reglog.css">
</head>

<body>
    <div class="register__form__side">
        <p>
            @if (TempData["ValidateMessage"] != null)
            {
            <p id="error__msg">@TempData["ValidateMessage"]</p>
            }
            @if (TempData["ValidateSuccessMessage"] != null)
            {
            <p id="success__msg">@TempData["ValidateSuccessMessage"]</p>
            }
        </p>
        <div class="login__form">
            <div class="login__container">
                <form asp-controller="Page" asp-action="login" method="post">
                    <div class="reg__block">
                        <p class="reg__title">Email</p>
                        <input id="log__input" type="text" asp-for="@Model.UserData.email">
                    </div>
                    <div class="reg__block">
                        <p class="reg__title">Password</p>
                        <input id="log__input" type="password" asp-for="@Model.UserData.password">
                        <div class="reg__msg__content">
                            <div class="keep__msg">
                                Keep login<input id="checkbox" type="checkbox" asp-for="@Model.UserData.KeepLoggedIn">
                            </div>
                        </div>
                        <button class="login__button" type="submit">Login</button>
                    </div>
                </form>
                <div class="haveaccount__container">
                    <a class="create__btw" asp-controller="Page" asp-action="register">Create an account!</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>