@{
    Layout = "_Layout";
}

@model MyViewModel

<!DOCTYPE html>
<html lang="en_EN">

<head>
    <meta charset="utf-8">
    <title>UFOPay.io - Register</title>
    <link rel="stylesheet" href="/css/indexstyle.css">
    <link rel="stylesheet" href="/css/reglog.css">
</head>

<body>

    <div class="register__form__side">
        <div class="register__form">
            <div class="register__container">
                <form asp-controller="Page" asp-action="register" method="post">
                    <div class="reg__block">
                        <p class="reg__title">First name</p>
                        <input id="reg__input" type="text" asp-for="@Model.UserData.firstName">
                    </div>
                    <div class="reg__block">
                        <p class="reg__title">Second name</p>
                        <input id="reg__input" type="text" asp-for="@Model.UserData.secondName">
                    </div>
                    <div class="reg__block">
                        <p class="reg__title">Email</p>
                        <input id="reg__input" type="text" asp-for="@Model.UserData.email">
                    </div>
                    <div class="reg__block">
                        <p class="reg__title">Password</p>
                        <input id="reg__input" type="password" asp-for="@Model.UserData.password">
                        <span class="min__char">The minimum password length is 8 characters.</span>
                    </div>
                    <div class="reg__block">
                        <p class="reg__title">Confirm password</p>
                        <input id="reg__input" type="password" asp-for="@Model.UserData.repeatPassword">
                        <div class="reg__checkbox__content">
                            <div class="reg__confirm__content">
                                <span class="agree__msg"><span>I am 13 years of age or older and
                                        agree
                                        to the terms of the <a class="subfooter__link" asp-controller="Page"
                                            asp-action="user_agreement">User
                                            Agreement</a> and the
                                        <a class="subfooter__link" asp-controller="Page"
                                            asp-action="privacy_policy">UFOPay Privacy Policy</a>.<input id="checkbox"
                                            type="checkbox" asp-for="@Model.UserData.AgreeWithDocs">
                                        @if (TempData["ValidateErrorMessage"] != null)
                                        {
                                            <span style="color: red;">@TempData["ValidateErrorMessage"]</span>
                                        }</span></span>

                            </div>
                            <div class="reg__msg__content">
                                <div class="keep__msg">Keep login<input id="checkbox" type="checkbox"
                                        asp-for="@Model.UserData.KeepLoggedIn"></div>
                            </div>
                        </div>
                    </div>
                    <button class="register__button" type="submit">Register</button>
                </form>
            </div>
            <div class="haveaccount__container">
                <a class="create__btw" asp-controller="Page" asp-action="login">Have an account? Log in</a>
            </div>
        </div>
    </div>
</body>

</html>